.navbar-Logo {
  width: 60px;
  height: 60px;
}

.navbar-title {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
  color: black;
}

.navbar-title:hover,
.navbar-title:focus {
  text-decoration: none;
  color: black;
}

.navbar-login {
  text-align: right;
}

.card-image-index {
  width: 260px;
  height: 175px;
  display: block;
  margin: auto;
}

.card-title-index {
  font-size: 15px;
  font-weight: bold;
  color: black;
}

.card-title-index:hover {
  text-decoration: none;
  color: #4c4543;
}

.card-text-index {
  font-size: small;
}

.card-body-index {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-height: 1px;
  padding: 0.5rem;
}

.footer {
  bottom: 0;
  text-align: center;
}

/* Tutorial styling */
.list {
  text-align: left;
  max-width: 750px;
  margin: auto;
}

.submit-form {
  max-width: 300px;
  margin: auto;
}

.edit-form {
  max-width: 300px;
  margin: auto;
}

#login .container #login-row #login-column #login-box {
  margin-top: 0px;
  max-width: 600px;
  height: auto;
  border: 1px solid #9c9c9c;
  background-color: #fcfcfc;
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}
#login
  .container
  #login-row
  #login-column
  #login-box
  #login-form
  #register-link {
  margin-top: -85px;
}

/* Photodetails */
.photodetailsImg {
  height: auto;
  width: 100%;
  border-radius: 6px;
}

.pb-cmnt-container {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 0px;
}

.pb-cmnt-textarea {
  resize: none;
  padding: 10px;
  height: 50px;
  width: 100%;
  text-align: center;
  border: 1px solid #f2f2f2;
}

.photodetailscommentcontainer {
  width: 100%;
  height: 58%;
}

.scrollbar {
  overflow-y: auto;
  height: 210px;
  overflow-x: hidden;
}

.card-block-fixed {
  margin-left: 10px;
  margin-top: 10px;
}

.likecontainer {
  margin-top: 20px;
}

.profile-head {
  transform: translateY(5rem);
}

.cover {
  background-image: url(https://images.unsplash.com/photo-1530305408560-82d13781b33a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1352&q=80);
  background-size: cover;
  background-repeat: no-repeat;
}

.UserIndexPhotos {
  height: 180px;
  width: 260px;
  border-radius: 10px;
}
